{% extends 'testing/base.html' %}

{% block title %}
    GPIO controller
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <a class="btn btn-warning" href="{% url 'cleanup' %}">Clean Up</a>
        </div>
        <div class="row flex-nowrap">
            <div class="col">

                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-warning" href="">3v3 Power</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-warning" href="">I/O</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-warning" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">GPIO 2</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">I/O</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">GPIO 3</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">I/O</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 4</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">GROUND</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">I/O</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 17</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="{% url 'outputToggle' BCMnumber=17 %}">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 27</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 22</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-warning" href="">3v3 Power</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-warning" href="">I/O</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-warning" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">GPIO 10</a>
                      <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">I/O</a>
                      <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">GPIO 9</a>
                      <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">I/O</a>
                      <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">GPIO 11</a>
                      <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">I/O</a>
                      <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">GROUND</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">I/O</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">GPIO 0</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">I/O</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 5</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 6</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 13</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-info disabled opacity-25 font-weight-light" href="">GPIO 19</a>
                      <a class="btn w-100 btn-info disabled opacity-25 font-weight-light" href="">I/O</a>
                      <a class="btn w-100 btn-info disabled opacity-25 font-weight-light" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 26</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                      <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                    </div>


                    <div class="my-1 btn-group d-flex" role="group">
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">GROUND</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">I/O</a>
                      <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">HIGH/LOW</a>
                    </div>

            </div>
            <div class="col">

                <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-danger" href="">5v Power</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-danger" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-danger" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-danger" href="">5v Power</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-danger" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-danger" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">GROUND</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">GPIO 14</a>
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">I/O</a>
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">GPIO 15</a>
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">I/O</a>
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 btn-info disabled opacity-25 font-weight-light" href="">GPIO 18</a>
                    <a class="btn w-100 btn-info disabled opacity-25 font-weight-light" href="">I/O</a>
                    <a class="btn w-100 btn-info disabled opacity-25 font-weight-light" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">GROUND</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 23</a>
                    <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                    <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 24</a>
                    <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                    <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">GROUND</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 25</a>
                    <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                    <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">GPIO 8</a>
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">I/O</a>
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">GPIO 7</a>
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">I/O</a>
                    <a class="btn w-100 btn-outline-success disabled opacity-25 font-weight-light" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">GPIO 1</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light bg-primary" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">GROUND</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 btn-success font-weight-bold" href="">GPIO 12</a>
                    <a class="btn w-100 btn-success font-weight-bold" href="">I/O</a>
                    <a class="btn w-100 btn-success font-weight-bold" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">GROUND</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-dark" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 font-weight-light btn-success font-weight-bold" href="">GPIO 16</a>
                    <a class="btn w-100 font-weight-light btn-success font-weight-bold" href="">I/O</a>
                    <a class="btn w-100 font-weight-light btn-success font-weight-bold" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-info" href="">GPIO 20</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-info" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-info" href="">HIGH/LOW</a>
                  </div>


                  <div class="my-1 btn-group d-flex" role="group">
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-info" href="">GPIO 21</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-info" href="">I/O</a>
                    <a class="btn w-100 disabled opacity-25 font-weight-light btn-info" href="">HIGH/LOW</a>
                  </div>

            </div>
        </div>
    </div>
{% endblock %}