{% extends 'testing/base.html' %}

{% block title %}
    GPIO controller
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <a class="btn btn-warning" href="{% url 'cleanup' %}">Clean Up</a>
        </div>
        <div class="row flex-nowrap">
            <div class="col">
              {% block pinoutleft %}
              {% endblock %}
            </div>
            <div class="col">
              {% block pinoutright %}
              {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}